#container{
    height: auto;
    width: auto;
    //background-color: antiquewhite;
    margin: 60px;
}
#top{
    height: 150px;
    width: auto;
    background-color: forestgreen;
    -webkit-animation: mymove 3s infinite; 
    animation: mymove 3s infinite;
    color: white;
}
@-webkit-keyframes mymove {
    50% {background-color: saddlebrown;}
}
@keyframes mymove {
    50% {background-color: saddlebrown;}
}
div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #8AC007;
}
#bor{
    height: 50px;
    width: auto; 
    font-size: 50px;
    border-collapse: collapse;
    border: 5px saddlebrown;
    background-color: forestgreen;
}
#g1{
    height: 150px;
    width: auto;
    font-size: 30px;
    color: white;
    font-style: italic;
    
}
#g2{
    height: 150px;
    width: auto;
    font-size: 30px;
    color: white;
    font-style: italic;
}
#g3{
    height: 150px;
    width: auto;
    font-size: 30px;
    color: white;
    font-style: italic;
}
#g4{
    height: 150px;
    width: auto;
    font-size: 30px;
    color: white;
    font-style: italic;
}
#g5{
    height: 150px;
    width: auto;
    font-size: 30px;
    color: white;
    font-style: italic;
}
