body {
    background-image: url("D.jpg");
}

#pagecontainer {
    
    border: 3px solid #00CC00;
    border-radius: 5px;
    width: 1000px;
    height: auto;
    margin: auto;
    background: black;   
    margin-bottom: 0;
}

html,body {
    padding: 0px;
    margin:  0px;
}

#navigation dt a {
	
	display:block;
	height:0px;
	background-repeat: no-repeat;
	padding :30px 0   0   0   0   0   0;
    
}

#header {
    background-image: url(E.jpg);
    height: 150px;
    
}
#lefth {
    background-image: url(E.jpg);
    float: left;
    width: 500px;
    height: 150px;
    padding: 0px;
    margin:  0px;
}
#righth {
    background-image: url(E.jpg);
    float: right;
    width: 450px;
    height: 150px;
    padding: 0px;
    margin:  0px;
}
table {
    float: right;
    padding-right: 60px;
    padding-top: 100px;
}

#navigation {
    background-color:dimgrey;
    height:60px;
    clear: both;
    padding-left: 35px;
    
}



#navigation dl{
	
	padding:0;
	margin:0;
    float:left;
  
    
    
}


#navigation dt {
	
	float:left;
    padding: 30;
    padding-right: 75px;
}

#sideupdates {
    background-color:darkgray;
    float: right;
    width: 250px;
    height:554px;
    border-color:darkslategray;
    border-width: thick;
}

#content {
    background-image: url(B.jpg);
    margin-right: 250px;
    margin-bottom: 0px;
}
#objectives {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    height:250px;
    background-image: url(E.jpg);
}

h1 {
    color: azure;
    padding: 0px;
    margin: 0px;
}
h4 {
    
    color:darkgrey;
    padding-left: 10px;
}

#footer {
        background-color:dimgrey;
        height: 65px;
        clear: both;
    
    	font-family: Tahoma, Arial, Helvetica, Sans-serif;
    	font-size: 15px;
    	color: #c9c9c9;
    	border-top: 1px solid #efefef;
    	padding: 13px 25px;
    	line-height: 18px;
}

#footer #altnav{

	width:350;
	float:right;
	text-align:right;
}

#footer a {
    color: #c9c9c9;
    text-decoration: none;
}

#footer a:hover{
	
	color: #db6d16;
}
